<!-- viene por parametro un objeto que se llama product y tiene este formato
{
    "id": 6,
    "nombre": "Memoria DDR4" ,
    "descripcion": "Memoria DDR4 Corsair ValueSelect 16gb",
    "detalle": "aca va la zaraza",
    "imagen": "/images/productos/memoria/memoria-vista-lateral.png",
    "cantidad": 100,
    "precio": 3000,
    "descuento": 0,
    "envio": 0
} -->

<!-- head added -->
<%- include('../partials/head'); %>

<!-- header added -->
<%- include('../partials/header'); %>
    
    <main>
    
        <div class="prod-detail-container">
            
            <div class="prod-detail-title">
                <a href="javascript: history.go(-1)" class="go-back-prod-detail neon-text-prod-salient-prod animate__animated animate__flash"><</a>
                <div class="prod-detail-titulo-container animate__animated animate__flash">
                <div class="prod-detail-titulo neon-text-prod-salient-prod "> Detalle de producto</div>
                <!-- <div class="neon-text-prod-salient-dest"> </div> -->
            </div>
            </div>
            <div class="prod-detail-stars">
                <div class="prod-califica">
                    Califica el producto
                </div>
                <div class="star-rating">
                    <input type="radio" name="stars" id="star-a" value="5"/>
                    <label for="star-a"></label>
              
                    <input type="radio" name="stars" id="star-b" value="4"/>
                    <label for="star-b"></label>
                
                    <input type="radio" name="stars" id="star-c" value="3"/>
                    <label for="star-c"></label>
                
                    <input type="radio" name="stars" id="star-d" value="2"/>
                    <label for="star-d"></label>
                
                    <input type="radio" name="stars" id="star-e" value="1"/>
                    <label for="star-e"></label>
              </div>
            </div>
        </div>%>
            <div class="prod-detail-descripcion">
                <div class="tab">
                    <button class="tablinks" onclick="openDesc(event, 'Descripcion')" id="defaultOpen">Descripcion</button>
                    <button class="tablinks" onclick="openDesc(event, 'Caracteristicas')">Caracteristicas</button>
                </div>
                  
                  <div id="Descripcion" class="tabcontent">
                    <p><%= product.descripcion %></p>
                  </div>
                  
                  <div id="Caracteristicas" class="tabcontent">
                    <p><%= product.detalle %></p> 
                </div>
            </div>
            <div class="prod-detail-foto-prod">
                <!-- <img class="prod-detail-foto-prod-img" src="\images\productos\disco\disco-duro-superior.png"
                alt="Producto destacado"> -->
                <div class="prod-detail-slider prod-detail-foto-prod-img" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
                    <div><img src="<%= product.imagen %>"
                        alt="Producto destacado"></div>
                    <div><img src="<%= product.imagen %>"
                        alt="Producto destacado"></div>
                    <div><img src="<%= product.imagen %>"
                        alt="Producto destacado"></div>
                    <div><img src="<%= product.imagen %>"
                        alt="Producto destacado"></div>
                </div>
            </div>
            <div class="prod-detail-imagenes-prod">

                <div class="prod-detail-slider-nav">
                    <div><img src="<%= product.imagen %>"
                        alt="Producto destacado"></div>
                    <div><img src="<%= product.imagen %>"
                        alt="Producto destacado"></div>
                    <div><img src="<%= product.imagen %>"
                        alt="Producto destacado"></div>
                    <div><img src="<%= product.imagen %>"
                        alt="Producto destacado"></div>
                </div>

            </div>
            <div class="prod-detail-buy-container">
                <button type="button" class="prod-detail-buy-button">Añadir al carro</button>
            </div>
            <div class="prod-detail-cantidad-prod">
                <div class="prod-stock">Stock:</div> <div class="prod-stock-total"><%= product.cantidad %></div>
                <div class="prod-cant">Cantidad:</div> <input type="text" class="prod-cant-total" value="    1"> 
               <div class="prod-precio">Precio:</div> <div class="prod-precio-total">$<%= product.precio %></div>
               <div class="prod-desc">Descuento:</div> <div class="prod-desc-total"><%= product.descuento %>%</div>
               <div class="prod-envio">Envio:</div> <div class="prod-envio-total">$<%= product.envio %></div>
               <div class="prod-total">Total:</div> <div class="prod-total-total">$<%= (product.precio*(1-(product.descuento/100))) %></div>
            </div>

          </div>
    </main>
    <!-- footer added -->
<%- include('../partials/footer'); %>