
<body>
<header class="header-container">
    <nav class="nav-bar">
        <!-- <li><a href="#" class="btn-open-popup" id="btn-open-popup">Registro</a></li>-->
        <div class="logo-header animate__animated animate__flash">
            <!-- <a href="/" ><img src="/images/logos/logos/logo-tamaño-rectangular.png"></a> -->
        </div>
        <div class="header-search-container">
            <form action="#" class="header-search-form">
                <input class="header-search-input" type="text" placeholder="Buscar.." name="search">
                <button class="header-search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="user-logo-header">
            <% if (locals.isLogged) { %>
            <a href="/profile"><i class="fas fa-user"></i></a>
            <%} else { %>
                <a href="#" id="btn-open-popup-login"><i class="fas fa-user"></i></a>
            <% } %>
        </div>
        <div class="kart-header">
            <a href="productCart">
                <i class="fas fa-shopping-cart"></i></a>
            <%# <div>Cantidad
        </div> deberia mostar la cantidad de dinero que acumulo el cliente en el carrito %>
        </div>
        <div class="menupc">
            <% if (locals.isLogged) { %>
                <% if (locals.userLogged.categoria=='admin' ) { %>
                    <ul>
                        <li>
                            <a class="menupc-button" href="/">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Principal
                            </a>
                        </li>
                        <li>
                            <a class="menupc-button" href="/products">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Productos
                            </a>
                        </li>
                        <li>
                            <a class="menupc-button" href="/productNew">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Nuevo producto
                            </a>
                        </li>
                        <li>
                            <a class="menupc-button" href="/adminUser">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Administrar usuarios
                            </a>
                        </li>
                        <li>
                            <a class="menupc-button" href="/adminProducts">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Administrar productos
                            </a>
                        </li>
                        <li>
                            <a class="menupc-button" href="/profile">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a class="menupc-button" href="/logout">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Desloguear
                            </a>
                        </li>
                        <li>
                            <p><%= locals.userLogged.nombre %>  <%= locals.userLogged.apellido %></p>
                        </li>
                        <li>
                            <img class="img-redonda" src=<%= locals.userLogged.imagen %>>
                        </li>
                    </ul>
                    <%} else { %>
                        <% if (locals.userLogged.categoria=='user' ) { %>
                            <ul>
                                <li>
                                    <a class="menupc-button" href="/">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        Principal
                                    </a>
                                </li>
                                <li>
                                    <a class="menupc-button" href="/products">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        Productos
                                    </a>
                                </li>
                                <li>
                                    <a class="menupc-button" href="/profile">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        Perfil
                                    </a>
                                </li>
                                <li>
                                    <a class="menupc-button" href="/logout">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        Desloguear
                                    </a>
                                </li>
                                <li>
                                    <p><%= locals.userLogged.nombre %>  <%= locals.userLogged.apellido %></p>
                                </li>
                                <li>
                                    <img src=<%= locals.userLogged.imagen %>>
                                </li>
                            </ul>
                        <%} %>
                    <% } %>
                <% } else {%>
                                <ul>
                                    <li>
                                        <a class="menupc-button" href="/">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            Principal
                                        </a>
                                    </li>
                                    <li>
                                        <a class="menupc-button" href="/login">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            Ingresar
                                        </a>
                                    </li>
                                    <li>
                                        <a class="menupc-button" href="/register">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            Registrarse
                                        </a>
                                    </li>
                                    <li>
                                        <a class="menupc-button" href="/products">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            Productos
                                        </a>
                                    </li>
                                </ul>
                                
                                    
                                        <% } %>
        
        
        </div>
    
    
        <div class="header-menu" id="main">
    
            <button class="hamburger-button" onclick="openNav()"><i class="fas fa-bars"></i></button>
        </div>
        <div id="mySidebar" class="sidebar">
            <% if (locals.isLogged) { %>
                <% if (locals.userLogged.categoria=='admin' ) { %>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <div class="sidebar-menu">
                <img class="img-redonda" src=<%= locals.userLogged.imagen %>>
                <p class="sidenavbar-username"><%= locals.userLogged.nombre %>  <%= locals.userLogged.apellido %></p>
                <div>
                <a class="sidebar-button" href="/">Principal</a>
                <a class="sidebar-button" href="/products">Productos</a>
                <a class="sidebar-button" href="/productNew">Nuevo prod</a>
                <a class="sidebar-button" href="/adminUser">Admin Usuarios</a>
                <a class="sidebar-button" href="/adminProducts">Admin prod</a>
                <a class="sidebar-button" href="/profile">Perfil</a>
                <a class="sidebar-button" href="/logout">Desloguear</a>
                </div>
                </div>
                <%} else { %>
                    <% if (locals.userLogged.categoria=='user' ) { %>
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                        <img class="img-redonda" src=<%= locals.userLogged.imagen %>>
                        <p><%= locals.userLogged.nombre %>  <%= locals.userLogged.apellido %></p>
                        <a class="sidebar-button" href="/">Principal</a>
                        <a class="sidebar-button" href="/profile">Perfil</a>
                        <a class="sidebar-button" href="/products">Productos</a>
                        <a class="sidebar-button" href="/logout">Desloguear</a>
                        <%} %>
                        <% } %>
                    <% } else {%>
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                            <a class="sidebar-button" href="/">Principal</a>
                            <a class="sidebar-button" href="/login">Ingresar</a>
                            <a class="sidebar-button" href="/register">Registrarse</a>
                            <a class="sidebar-button" href="/products">Productos</a>
                    <% } %>
        </div>
    
    </nav>

    <div class="overlay" id="overlay-login">
        <div class="popup" id="popup-login">
            <a href="#" id="btn-close-popup-login" class="btn-close-popup"><i class="fas fa-times"></i></a>
            <img src="./images/logos/user-icon.png">
            <form class="container-form" action="/login" method="post">
                <div class="container-inputs">
                    <div class="container-login-email">
                        <input type="email" name="email" placeholder="E-mail" class="login-email">
                        <% if (locals.errors && errors.email) { %>
                            <div>
                              <%= errors.email.msg %>
                            </div>
                          <% } %>
                    </div>
                    <div class="container-login-pass">
                        <input type="password" name="password" placeholder="Contraseña" class="login-pass">
                    </div>
                    <div class="login-remember-father">
                        <input type="checkbox" class="css-checkbox" id="checkbox16" checked="checked" />
                        <label for="checkbox16" name="remember" class="css-checkbox dark-plus-purple"> Recordar</label>

                    </div>
                </div>
                <div>
                    <input type="submit" class="btn-submit" value="Ingresar">
                </div>
                <div class="login-register">
                    No tienes clave? <a href="register">Registrate</a>
                </div>
                <div class="login-forget">
                    <a href="forget">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>
</header>