<!-- head added -->
<%- include('../partials/head'); %>

  <!-- header added -->
  <%- include('../partials/header'); %>
  <body>
    <main>
        <!-- <section class="prod-top-navbar-container"> -->
          <div class="admin-user-top-navbar">
            <div>1 resultado</div>
            <div class="admin-user-filter-search align-center">
              <form action="#" class="admin-user-sidebar-search-form">
                <input class="admin-user-sidebar-search-input" type="text" placeholder="Buscar usuario" name="search">
              </form>
            </div>
            <div>
              <p class="admin-user-filter-title">Ordernar</p>
            </div>
            <div class="admin-user-filter-trademark-options align-center"><input type="radio" name="ordenar"
                value="Todo" checked>A-Z</div>
            <div class="admin-user-filter-trademark-options align-center"><input type="radio" name="ordenar"
                value="Todo">Z-A</div>
            <div class="admin-user-filter-reset">
              <input type="submit" class="admin-user-filter-reset-button" value="Limpiar">
            </div>
          </div>
        <!-- </section> -->
        <section class="main-section-admin-user">
          <section class="admin-user-sidebar-container">
            <div class="admin-user-sidebar">
              <div class="admin-user-filter-title">
                <p>Filtros</p>
              </div>
              <div class="admin-user-filter-search">
                <form action="#" class="sidebar-search-form">
                  <input class="sidebar-search-input" type="text" placeholder="Buscar.." name="search">
                </form>
              </div>
              <div>
                <p class="admin-user-filter-trademark-title">Ordernar</p>
                <div class="admin-user-filter-trademark-options"><input type="radio" name="ordenar" value="Todo"
                    checked> Alfabeticamente A-Z</div>
                <div class="admin-user-filter-trademark-options"><input type="radio" name="ordenar" value="Todo">
                  Alfabeticamente Z-A</div>
              </div>
              <div class="admin-user-filter-reset">
                <input type="submit" class="admin-user-filter-reset-button" value="Borrar">
              </div>
            </div>
          </section>
          <section class="section-admin-user">
            <%- include('../partials/user-admin'); %>
            <%- include('../partials/user-admin'); %>
          </section>
          
        </section>
    </main>
  </body>
    <!-- footer added -->
    <%- include('../partials/footer'); %>