<!-- head added -->
<%- include('../partials/head'); %>

<!-- header added -->
<%- include('../partials/header'); %>

        <main>
        <div class="container-profile">
            <div class="container-profile-logo">
            <img src=<%= user.imagen %>>
            </div>
            <form action="" class="container-form-profile">
                <div class="profile-container-email">
                    <input type="email" value=<%= user.email %> class="profile-email">
                </div>
                <div class="profile-container-name">
                    <input type="text" value=<%= user.nombre %> class="profile-name">
                </div>
                <div class="profile-container-lastname">
                    <input type="text" value=<%= user.apellido %> class="profile-lastname">
                </div>
                <div class="profile-container-tel">
                    <input type="text" value=<%= user.telefono %> class="profile-tel">
                </div>
                <div class="profile-container-prov">
                    <input type="text" value=<%= user.provincia %> class="profile-prov">
                </div>
                <div class="profile-container-city">
                    <input type="text" value=<%= user.ciudad %> class="profile-city">
                </div>
                <div class="profile-container-street">
                    <input type="text" value=<%= user.calle %> class="profile-street">
                </div>
                <div class="profile-container-number">
                    <input type="text" value=<%= user.numero %> class="profile-number">
                </div>
                <div class="profile-container-cntry">
                    <input type="text" value=<%= user.pais %> class="profile-cntry">
                </div>
                <div class="profile-container-zip">
                    <input type="text" value=<%= user.codigoPostal %> class="profile-zip">
                </div>
                <div class="profile-container-dni">
                    <input type="text" value=<%= user.dni %> class="profile-dni">
                </div>
                <div class="profile-delete-button">
                    <input type="submit" class="button-perfil-delete" value="Eliminar usuario">
                </div>
                <div class="profile-change-button">
                    <input type="submit" class="button-perfil-change" value="Modificar usuario">
                </div>
            </form>
        </div>
</main>
<!-- footer added -->
<%- include('../partials/footer'); %>